*{
	margin: 0;
	padding: 0;
}


body
{
	font: 16px/1.5;
}

/* -----------logo & navigation bar--------------------*/
header img
{
	margin-left: 48%;
	width:auto;
	height: 70px;
	padding-top: 10px;
	background-color: white;
	display: block;
}

nav
{
	text-align: center;
	width: 100%;
    height: 50px;
	background-color: #89b8c8;
	display: inline-block;
	position: fixed;
}


nav ul li a 
{
	text-decoration: none;
	color: #ffffff;
	margin: auto;
	font: bold italic 18px Cambria;
}

#navigationbar li a:hover
{
	color: #316C7F;
}

nav ul li
{
	width: auto;
	display: inline-block;
	margin: 20px;
	height: 50px;
}

/*------------Home-------------*/

#loding_screen
{
	display: relative;
}

#loding_screen img
{
	width: 100%;
}
#loding_screen h1 a
{
	position: absolute;
	color: #ffffff;
	margin-left: 45%;
    margin-top: -20%;
    border-style: solid;
    padding: 15px;
    text-decoration: none;

}

#loding_screen h1 a:hover
{
	border-style: dotted; 
}


#shortWrapper
{
	width: 80%;
	padding-top: 3%;
    margin-left: 10%;
    text-align: center;
	display: inline-block;
	/*background-color: blue;*/
}	

.threeColumns img
{
	height: 200px;
	width: 300px;
}

.threeColumns a
{
	text-decoration: none;
}
.threeColumns
{
	width: 30%;
	float: left;
   /* position: absolute;*/
   /* display: inline-block;*/
   padding-left: 3.333%;
}

.threeColumns figcaption
{ 
	margin-bottom: 20px;
	text-decoration: none;
}

.title 
{
	font: bold 25px DejaVu Serif;
	color: #000;
	margin-bottom: 30px;
}

/*-------------------------About------------------------*/
/*-----------------------------------------------------*/
.welcomeImg{
	display: block;
}
.welcomeImg img{
	height: 400px;
	width: 100%;
}

.mainContainer{
	width: 80%;
	display: block;
	padding: 2% 1% 1% 2%;
	margin: 0 auto;
	background-color: blue;	
}

.heading{
	text-align: center;
	/*padding-bottom: 2%;*/
	margin-bottom: 2%;
}

.box img{
   height: 200px;
   width: 300px;
   padding-top: 1%;
 }

#in{
     display: inline-block;
    background: red;
}


.box {
	/*float: left;*/
	width: 40%;
	height: 40%;
	margin: 0 auto;
	margin-top: 30px;
	margin-left: 10px;
	display: inline-block;
	text-align: center;
	border: 1px solid;
	clear:both;
}

.box .clear fix{
	zoom:1;
}

.box p{
	margin: 10px 5px 10px 5px;
	text-align: left;
}


/*----------------Flights----------------*/
/*--------------------------------------*/
/*---------------------------------------*/





/*-----------------------Gallery--------------------*/
/*-------------------------------------------------*/
/*------------------------------------------------*/
/*-------------------------------------------------*/

.mainContainer iframe{
	padding-left: 22%;
}

.gallery_thumbnails img{
	height: 200px;
	width: 300px;
	/*float: left;*/
}



----------------footer----------------------------
#footerContainer{
	display: inline-block;
}

footer
{
	width: 80%;
	height: 200px;
	margin: auto;
	text-align: center;
	padding-top: 3%; 
	margin-top: 20px;
	margin-bottom: 50px;
	font: Oblique 18px/1.6 DejaVu Sans Condensed;
	display: block;
}

.footerWrapper
{
	width: 33.33%;
	background-color: blue;
	float: left;
}



/*footer list style and wrap it-----too be continute*/

.footerWrapper h5
{
	margin-bottom: 5%;
}
.footerWrapper ul li
{
	list-style: none;
}

.footerWrapper ul li a{
	text-decoration: none;
}


#socialMedia{
	height: 20px;
	width: 20px;
}


.facebook, .twitter, .youtube,.email
{
	background-image: url(../images/mini-social-icons.png);
	background-size: 20px 20px;
    background-repeat: no-repeat;
	display: inline-block;
}

.facebook
{
	height: 84px;
	width: 84px;
	background-position: 0 -168px;
	border-radius: 50px;
}

.twitter
{
	height: 84px;
	width: 84px;
	background-position: -672px -168px;
	border-radius: 50px;
}

.youtube
{
	height: 84px;
	width: 84px;
	background-position: -840px -168px;
	border-radius: 50px;
}
.email
{
	height: 84px;
	width: 84px;
	background-position: -252px -168px;
	border-radius: 50px;
}

footerB{
	width: 10%;
	float: right;
}